
.project_card {
    position: relative;
    width: 100%;
    border-radius: 1em;
    overflow: hidden;
}

.project_card > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card_layer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text_alt);
    left: 0;
    width: 100%;
    gap: 1em;
    height: 0px;
    overflow: hidden;
    transition: all .3s linear;
}

.project_card:hover {
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
}


.project_card:hover .card_layer {
    bottom: 0;
    padding: 2em;
    height: 100%;
    background-color: var(--layer_bg);
}

.icons_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

@media screen and (min-width: 789px) {
    .project_card {
        width: 450px;
    }
}

@media screen and (min-width: 992px) {
    .project_card {
        width: 350px;
    }
}

@media screen and (min-width: 1200px) {
    .project_card {
        width: 450px;
    }
}

@media screen and (min-width: 1366px) {
    .project_card {
        width: 650px;
    }
}