.card {
    position: relative;
    left: 0;
    width: 350px;
    height: 190px;
    margin: auto;
    background-color: var(--background);
    border-radius: 8px;
    transition: all .3s;
    transform-origin: center left;
    box-shadow: 0 8px 12px rgba(0, 0, 0, .2);
    outline: 1px solid var(--background);
    overflow: hidden;
    color: #fff;
}

.card:hover {
    transform: translateY(-5px);
}

.card figcaption {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.7rem;
    padding: 2em 1.5em;

    >h3 {
        width: 100%;
    }

    >p {
        width: 100%;
        height: 40%;
    }

    >h3 {
        font-size: 1.5em;
        color: #fff;
    }
}

.card:hover figcaption {
    position: absolute;
    display: flex;
    align-items: end;
    color: #fff;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 170px;
    background: linear-gradient(to top,
            rgba(0, 0, 0, .9) 70%,
            rgba(0, 0, 0, 0) 95%);
}

.card:hover~.card {
    font-weight: bold;
    cursor: pointer;
    transform: translateX(22px);
}

.card img {
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.figure_foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.tech_stack {
    display: flex;
    flex-direction: row;
    gap: .5em;
    list-style: none;
    width: 50%;

    >li {
        display: grid;
        place-content: center;
        gap: .5em;
        width: 30px;
        height: 30px;

        >img {
            width: 100%;
            object-fit: contain;
        }
    }
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 1em;

    >li {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        text-decoration: none;
        width: 120px;
        height: 30px;
        border-radius: 1.5em;
        background: silver;

        &:hover,
        &:hover a {
            background-color: var(--primary);
        }

        >a {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.1em;
        }

    }

}

@media screen and (min-width: 489px) {
    .card {
        width: 400px;
        height: 220px;
    }

    .tech_stack{
        width: 30%;
    }

    .links {

        > li {
            width: 90px;

            > a {
                font-size: .9em;
            }
        }
    }
}

@media screen and (min-width: 589px) {
    .card {
        width: 500px;
        height: 290px;
    }

    .card img {
        height: 100%;
    }
}

@media screen and (min-width: 789px) {
    .card {
        width: 350px;
        height: 250px;
    }

    .card img {
        height: 280px;
    }

    .tech_stack {
        width: 50%;

        > li {
            width: 30px;
            height: 30px;

        }
    }
}

@media screen and (min-width: 899px) {
    .card {
        width: 470px;
        height: 280px;
    }

    .card img {
        height: 100%;
    }

    .tech_stack {
        width: 50%;

        > li {
            width: 35px;
            height: 35px;
        }
    }

    .links {
        > li {
            width: 120px;
            >a {
                    font-size: 1.3em;
                }
        }
    }
}