@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@400;600;800&display=swap');

:root {
    --primary: #ee3a6d;
    --primary_alt: #581528a2;
    --background: #ece9e9;
    --bg_alt: #ffffff;
    --text: #4a4a4a;
    --text_alt: #f1f1f1;
    --font_text: 'inter', sans-serif;
    --font_tittle: 'Encode Sans SC', sans-serif;
    --transparent: rgba(255, 255, 255, 0.1);
    --layer_bg: rgba(0, 0, 0, .8)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font_text);
    font-size: 100%;
    color: var(--text);
    background-color: var(--background);
    transition: all .5s ease;
}

body.dark {
    --background: #1c1c1c;
    --bg_alt: #131313;
    --text: #e5e5e5;
    --text_alt: #acacac;
    --transparent: rgba(0, 0, 0, 0.1)
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font_tittle);
    color: var(--text);
}

.nav_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1em;
    width: 100%;
    height: 85px;
    box-shadow: 0 0 8px 10px rgba(0, 0, 0, .2);
    transition: height .4s linear;
    background-color: var(--bg_alt);
    overflow: hidden;
    z-index: 100;
}

.brand_container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 90px;
    margin-bottom: 5px;
    gap: 1.5em;
}

.nav_container:hover {
    height: 580px;
}

.nav_container:hover .config_text {
    display: inline;
}

.nav_container:hover+.layer {
    display: flex;
}

.nav_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 90%;
    gap: .5em;
    width: 100%;
}

.menu_item {
    width: 270px;
    height: 50px;
}

.menu_link {
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 1.5em;
    font-weight: 400;
    text-decoration: none;
    color: var(--text);
}

.config_menu {
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.config_item {
    display: flex;
    align-items: center;
    position: relative;
    height: 50px;
    gap: .5em;
    cursor: pointer;
}

.config_text {
    display: none;
    color: var(--text);
}

.config_text-language {
    display: grid;
    position: absolute;
    place-content: center;
    border-radius: 1em;
    letter-spacing: 0;
    width: 25px;
    height: 20px;
    font-size: 90%;
    top: 5px;
    right: -8px;
    color: #fff;
    font-weight: bold;
    background-color: var(--primary);
}

.layer {
    position: fixed;
    display: none;
    width: 100%;
    left: 0px;
    height: 100%;
    background-color: var(--transparent);
    backdrop-filter: blur(3px);
    --webkit-backdrop-filter: blur(3px);
    z-index: 90;
}


.main_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.hero_container {
    position: relative;
    margin-top: 105px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 800px;
    /* height: 100%; */
    padding: 1em;
    border-radius: 1em;
    background-color: var(--transparent);
    border: 1px solid var(--background);
    backdrop-filter: blur(4px);
    --webkit-backdrop-filter: blur(4px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .4);
}

.hero_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 2em;
    gap: 4em;
    width: 100%;
    height: 100%;
}

.welcome {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.main_text {
    font-size: 46px;
    color: var(--primary);
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    list-style: none;
    width: 200px;
    height: 60px;
}

.social_item {
    width: 40px;
    height: 40px;
}

.social_link {
    font-size: 32px;
    text-decoration: none;
    color: var(--text);
}

.social_link:hover {
    color: var(--primary);
}

.resume_btn {
    text-decoration: none;
    padding: .5em 2em;
    border-radius: 1em;
    font-weight: bold;
    color: var(--text_alt);
    background-color: var(--primary_alt);
    animation: heartbeat 1.5s ease-in-out infinite both;
}

.resume_btn:hover {
    transform: translateY(-5px);
    background-color: var(--primary);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}

.container_section {
    display: flex;
    flex-direction: column;
    gap: 3em;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--background);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    z-index: 50;
}

.project_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 100%;
    gap: 2em;
}

.project_title {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* @media screen and (min-width: 639px) {
    .project_item {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .project_item-title {
        min-height: 72px;
        line-height: 1;
        font-size: 24px;
    }

    .project_item-link {
        padding: 22px 40px;
    }

    .project_item-tech-box {
        font-size: 16px;
    }
} */

@media screen and (min-width: 979px) {
    .hero_container{
        height: 900px;
    }

    .project_container {
        width: 90%;
    }
}



/*
* ----------------------------------------
* Key Frames
* ----------------------------------------
*/
@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

/*
* ----------------------------------------
* Break Points
* ----------------------------------------
*/
@media screen and (min-width: 789px) {
    .project_card {
        width: 450px;
    }
}

@media screen and (min-width: 992px) {
    .nav_container {
        width: 75px;
        height: 100vh;
        transition: width .4s linear;
    }

    .nav_container:hover {
        height: 100%;
        width: 380px;
    }

    .nav_menu {
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1.5em;
    }

    .project_card {
        width: 350px;
    }

    .hero_container {
        font-size: 150%;
        margin-top: 1em;
        margin-left: 4em;
        width: 90%;
    }
}

@media screen and (min-width: 1200px) {
    .project_card {
        width: 450px;
    }
}

@media screen and (min-width: 1366px) {
    .project_card {
        width: 650px;
    }
}