@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@400;600;800&display=swap');

:root {
    --primary: #ee3a6d;
    --background: #e7e7e7;
    --bg_alt: #ffffff;
    --text: #4a4a4a;
    --font_text: 'inter', sans-serif;
    --font_tittle: 'Encode Sans SC', sans-serif;
    --transparent: rgba(255, 255, 255, 0.1)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font_text);
    font-size: 100%;
    letter-spacing: .2em;
    color: var(--text);
    background-color: var(--background);
    transition: all .5s linear;
}

body.dark {
    --background: #1c1c1c;
    --bg_alt: #131313;
    --text: #e5e5e5;
    --transparent: rgba(0, 0, 0, 0.1)
}
