.title {
    text-align: center;
    width: 100%;
    padding: 1em;
}

.fig_avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    min-width: 300px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2em 1em;
    width: 100%;
    gap: 2em;
}

.avatar_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border: 1px solid;
}

.avatar {
    display: grid;
    place-content: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.9);
    overflow: hidden;

    >img {
        width: 100%;
    }
}

.btn-fig {
    display: grid;
    place-content: center;
    width: 70%;
    color: #fff;
    background-color: var(--primary);
}

.text_container {
    display: flex;
    flex-direction: column;
    gap: 1em
}


.skill_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    padding: 2em 0;
    width: 100%;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.skill_item {
    display: grid;
    place-content: center;
    max-width: 250px;

    > img {
        width: 100%;
        filter: grayscale(95%);
        transition: all 0..5s ease;

        &:hover {
            filter: grayscale(0);
            transition: all 0..5s ease;
            animation: shake 1s linear infinite;
        }
    }
}

#git:hover{
    filter: drop-shadow(0 0 20px #ee513b);
}
#github:hover{
    filter: drop-shadow(0 0 20px #3e75c3);
}
#postgres:hover{
    filter: drop-shadow(0 0 20px #336791);
}
#sequelize:hover{
    filter: drop-shadow(0 0 20px #03afef);
}
#node:hover{
    filter: drop-shadow(0 0 20px #83cd29);
}
#react:hover{
    filter: drop-shadow(0 0 20px #00d8ff);
}
#python:hover{
    filter: drop-shadow(0 0 20px  #fcd024);
}


@keyframes shake {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@media screen and (min-width: 768px) {
    .skill_item{
        width: 200px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        justify-content: space-between;
        margin-left: 2.5em;
        width: 90%;
    }
    .text_container {
        width: 60%;
    }

    .skill_container {
        width: 90%;
        margin: auto;
    }
}